.layout {
    border: 1px solid red;
}

.item1 {
    border: 1px solid blue;
}

.item2 {
    border: 1px solid green;
}

.buttonGroup {
    border: 1px solid Yellow;
}

.formated-text {
    border: 1px solid Orangered;
}